<link rel="stylesheet" href="{{ url_for('static', filename='writ.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="shortcut icon" href="https://raw.githubusercontent.com/openaddresses/openaddresses.io/805f02d1e/17.png">
<link rel="apple-touch-icon-precomposed" href="https://raw.githubusercontent.com/openaddresses/openaddresses.io/805f02d1e/17.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style lang="text/css">

    body
    {
        margin-bottom: 2em;
        font-size: 1em;
    }

    body>*
    {
        margin: 1em auto;
        width: 960px;
    }
    
    body>p { line-height: 1.5em }
    
    pre
    {
        font-family: monospace;
        line-height: 1.5em;
        margin-left: 1em;
    }
    
    @media (max-width: 960px)
    {
        body>* { width: 96% }
    }
    
    @media (min-width: 960px)
    {
        a, .stat { white-space: nowrap }
    }
    
    @media (max-width: 640px)
    {
        button .words { display: none }
    }

</style>
<script type="text/javascript">

    function choosemap(src)
    {
        var img = document.getElementById('render-img');
        
        if(img)
        {
            img.src = src;
        }
        
        return false;
    }

</script>
