<html>

<head>
<meta charset=utf-8 />
<title>OpenAddresses</title>
{% include "head.html" %}
</head>

<body>
{% include "nav.html" %}
<p>
    This is a summary view of <a href="http://openaddresses.io">OpenAddresses data</a>.
    <a href="http://data.openaddresses.io/openaddresses-collected.zip" class="stat">{{ counts.addresses|nice_integer }} addresses</a>
    have been processed as of <span class="stat">{{ last_modified.strftime('%A, %b %d, %Y') }}</span>.
    Out of <a href="https://github.com/openaddresses/openaddresses/tree/master/sources">all sources</a>,
    <a href="#first-processed" class="stat">{{ counts.processed|nice_integer }} have completed</a>.
</p>
<p>
    We update these zipped global and regional address collections regularly:
</p>
<ul>
    <li><a href="http://data.openaddresses.io/openaddresses-collected.zip">Global collection</a></li>
    <li>
        U.S. addresses
        (<a href="http://www2.census.gov/geo/pdfs/maps-data/maps/reference/us_regdiv.pdf">list of states by region</a>):
        <ul>
            <li><a href="http://data.openaddresses.io/openaddresses-us_northeast.zip">U.S. Northeast collection</a></li>
            <li><a href="http://data.openaddresses.io/openaddresses-us_midwest.zip">U.S. Midwest collection</a></li>
            <li><a href="http://data.openaddresses.io/openaddresses-us_south.zip">U.S. South collection</a></li>
            <li><a href="http://data.openaddresses.io/openaddresses-us_west.zip">U.S. West collection</a></li>
        </ul>
    </li>
    <li>
        <a href="http://data.openaddresses.io/openaddresses-europe.zip">Europe collection</a>
        (<a href="http://publications.europa.eu/code/pdf/370000en.htm">list of European countries</a>)
    </li>
    <li>
        <a href="http://data.openaddresses.io/openaddresses-asia.zip">Asia/Oceania collection</a>
        (<a href="http://www.countrycallingcodes.com/iso-country-codes/asia-codes.php">list of Asian</a>,
        <a href="http://www.countrycallingcodes.com/iso-country-codes/australia-codes.php">Oceania countries</a>)
    </li>
</ul>
<p>
    The latest summary can always be found at
    <a href="http://results.openaddresses.io">results.openaddresses.io</a>.<br>
    A plain text version of data on this page can be found at
    <a href="state.txt">state.txt</a>.
</p>

{% include "runs-table.html" %}

</body>
</html>
