{% extends "base.html" %}
{% block title %}Job {{ job.id }}{% endblock %}
{% block main %}
<p>
    <a href="{{ url_for('webhooks.app_get_jobs') }}">All jobs</a>
</p>

<p>
    {% if job.status is sameas True %}
        {% set status_phrase = 'has succeeded' %}
    {% elif job.status is sameas False %}
        {% set status_phrase = 'has failed' %}
    {% else %}
        {% set status_phrase = 'is in progress' %}
    {% endif %}
    
    This job {{ status_phrase }}:
</p>

<table>
{% for (sha, path) in job.task_files.items() %}

    {% set file_runstate = job.file_results[path].state %}
    {% set file_state = job.file_states[path] %}

    <tr>
        <td>
        {% if file_state is sameas True %}
            <span style="color: #0c3">&#x2714;</span>
        {% elif file_state is sameas False %}
            <span style="color: #f00">&#x274C;</span>
        {% endif %}
        </td>
        <td>
        {{ path }}
        </td>
        <td>
        {% if file_runstate and file_runstate.output %}
            <a href="{{ file_runstate.output }}">log</a>
        {% endif %}
        </td>
        <td>
        {% if file_runstate and file_runstate.sample %}
            <a href="{{ file_runstate.sample }}">sample</a>
        {% endif %}
        </td>
        <td>
        {% if file_runstate and file_runstate.processed %}
            <a href="{{ file_runstate.processed }}">data</a>
        {% endif %}
        </td>
        <td>
        {% if file_runstate and file_runstate.preview %}
            <a href="{{ file_runstate.preview }}">image preview</a>
        {% endif %}
        </td>
        {% if dotmaps_base_url %}
            <td>
            {% if file_runstate and file_runstate.slippymap %}
                <a href="{{ file_runstate.slippymap|slippymap_preview_url }}">slippy map preview</a>
            {% endif %}
            </td>
        {% endif %}
    </tr>

{% endfor %}
</table>
{% endblock main %}
