{% include 'info.html' %}

<ol>
{% for job in jobs %}
    <li>
        <span style="width: 1.2em; display: inline-block; text-align: center">
        {% if job.status is sameas True %}
            <span style="color: #0c3">&#x2714;</span>
        {% elif job.status is sameas False %}
            <span style="color: #f00">&#x274C;</span>
        {% endif %}
        </span>

        {% if job.length != 1 %}
            <a href="{{ job.id }}">{{ job.length }} files</a>
        {% else %}
            <a href="{{ job.id }}">{{ job.length }} file</a>
        {% endif %}
    </li>
{% endfor %}
</ol>

{% if jobs %}
    <p>
        <a href="/jobs/?after={{ jobs[-1].id }}">More…</a>
    </p>
{% endif %}
