{% if user_name and user_orged %}
<form action="{{logout_href}}" method="post">
    <button>LOG OUT {{user_name}}</button>
</form>
{% else %}
<form action="{{auth_href}}" method="get">
    <input type="hidden" name="state" value="{{state}}">
    <input type="hidden" name="client_id" value="{{client_id}}">
    <input type="hidden" name="redirect_uri" value="{{redirect_uri}}">
    <input type="hidden" name="response_type" value="{{response_type}}">
    <button class="btn btn-mapzen-alt">CONTINUE</button>
</form>
{% endif %}
