<style lang="text/css">

    #runs { border-collapse: collapse }
    
    #runs tr th,
    #runs tr td.type,
    #runs tr td.cached,
    #runs tr td.problems,
    #runs tr td.sample,
    #runs tr td table tr td
    {
        font-size: 65%;
    }
    
    #runs tr th, #runs tr td
    {
        text-align: left;
        padding: 3px 10px;
        border: none;
    }
    
    #runs tr td>a
    {
        display: block;
        margin: -3px -10px;
        padding: 3px 10px;
        text-decoration: underline;
    }
    
    #runs tr td.problems>a,
    #runs tr td.sample>a
    {
        display: inline;
        margin: 0;
        padding: 0;
    }
    
    #runs tr td.name>a
    {
        text-decoration: none;
    }
    
    #runs tr:nth-child(4n-2) td, #runs tr:nth-child(4n-1) td { background-color: #f8f8f8 }
    #runs tr:nth-child(4n+0) td, #runs tr:nth-child(4n+1) td { background-color: #ffffff }

    #runs tr td table { margin: 1em 0 }
    #runs tr td table { margin: 1em 0 }
    #runs tr td table tr th { color: #666 }

    #runs tr td table tr th,
    #runs tr td table tr td
    {
        font-family: monospace;
        background-color: transparent !important;
        line-height: 1.5em;
        padding: 1px 10px;
    }
    
   /*
    * Progressively show additional sample data columns.
    */

    #runs tr th,
    #runs tr td
    {
        display: none
    }

    /*
    Column classes:
    1. name, 2. type, 3. cached, 4. processed, 5. problems, 6. sample
    */

    #runs tr th:nth-child(1), /* name + data sample */
    #runs tr td:nth-child(1), /* name + data sample */
    #runs tr.init th.processed,
    #runs tr.init th.sample,
    #runs tr.init td.processed,
    #runs tr.init td.sample,
    #runs tr td table tr th:nth-child(1),
    #runs tr td table tr th:nth-child(2),
    #runs tr td table tr th:nth-child(3),
    #runs tr td table tr td:nth-child(1),
    #runs tr td table tr td:nth-child(2),
    #runs tr td table tr td:nth-child(3)
    {
        display: table-cell
    }

    @media (min-width: 400px)
    {
        #runs tr td table tr th:nth-child(4),
        #runs tr td table tr td:nth-child(4)
        {
            display: table-cell
        }
    }
    
    @media (min-width: 640px)
    {
        #runs tr.init th.cached,
        #runs tr.init td.cached,
        #runs tr td table tr th:nth-child(5),
        #runs tr td table tr td:nth-child(5)
        {
            display: table-cell
        }
    }
    
    @media (min-width: 960px)
    {
        #runs tr.init th.type,
        #runs tr.init th.problems,
        #runs tr.init td.type,
        #runs tr.init td.problems,
        #runs tr td table tr th:nth-child(6),
        #runs tr td table tr td:nth-child(6)
        {
            display: table-cell
        }
    }

</style>
<script type="text/javascript">

    function showhide(button, row_id, link_id)
    {
        var row = document.getElementById(row_id),
            link = document.getElementById(link_id),
            style = getComputedStyle(row);
    
        if(row && style.display == 'none') {
            row.style.display = 'table-row';
            button.innerHTML = 'Hide <span class="words">sample data</span>';
            if(link) { populatesample(link) }

        } else if(row) {
            row.style.display = 'none';
            button.innerHTML = 'Show <span class="words">sample data</span>';
        }

        return false;
    }
    
    function populatesample(link)
    {
        var anchors = link.getElementsByTagName('a'),
            neighbor = link.nextSibling,
            parent = link.parentNode;
    
        var request = new XMLHttpRequest();
        request.open('GET', anchors[0].href, true);

        request.onload = function() {
          if (request.status >= 200 && request.status < 400) {
            // Success!
            var stuff = document.createElement('div');
            stuff.innerHTML = request.responseText;
        
            parent.removeChild(link);
            parent.insertBefore(stuff.firstChild, neighbor);
        
          } else {
            // We reached our target server, but it returned an error
            link.innerHTML = 'Failed to load.';
          }
        };

        request.onerror = function() {
            link.innerHTML = 'Failed to load.';
        };

        link.innerHTML = '(Loading)';
        request.send();            
    }
    
    function choosemap(src)
    {
        var img = document.getElementById('render-img');
        
        if(img)
        {
            img.src = src;
        }
        
        return false;
    }

</script>
<table id="runs">
    <tr class="init">
        <th class="name">Name</th>
        <th class="type">Type</th>
        <th class="cached">Cached?</th>
        <th class="processed">Processed?</th>
        <th class="problems">Problems</th>
        <th class="sample"> </th>
    </tr>
    {% set first_processed = False %}
    {% for state in states %}
      {% if not first_processed and state.processed %}
        {% set first_processed = True %}
      {% elif first_processed %}
        {% set first_processed = False %}
      {% endif %}
      <tr class="init">
        <td class="name">
            <a href="{{ state.href }}" name="{% if first_processed %}first-processed{% endif %}">{{ state.shortname|breakstate|safe }}</a>
        </td>
        <td class="type">
            {{ state.type }}
        </td>
        <td class="cached">
          {% if state.cache %}
            <a href="{{ state.cache }}">{{ state.cache_date }}</a>
          {% elif state.cache_date %}
            <strike>{{ state.cache_date }}</strike>
          {% else %}
            –
          {% endif %}
        </td>
        <td class="processed">
          {% if state.processed %}
            <a href="{{ state.processed }}">zip</a>
          {% else %}
            –
          {% endif %}
        </td>
        <td class="problems">
          {% set suggest_conform = False %}
          {% if not state.processed %}
            {% if state.skip %}
            <a href="{{ state.href }}">source</a> says to skip
            {% elif not state.cache %}
            cache failed {% if state.output %}( <a href="{{ state.output }}">log</a> ){% endif %}
            {% elif not state.conform %}
            <a href="{{ state.href }}">source</a> is
            <a href="https://github.com/openaddresses/openaddresses/blob/master/CONTRIBUTING.md#conform-object">missing conform</a>
            {% set suggest_conform = True %}
            {% else %}
            unknown {% if state.output %}( <a href="{{ state.output }}">log</a> ){% endif %}
            {% endif %}
          {% elif not state['coverage complete'] %}
            <a href="{{ state.href }}">source</a> has
            <a href="https://github.com/openaddresses/openaddresses/blob/master/CONTRIBUTING.md#coverage-object">incomplete coverage</a>
          {% endif %}
        </td>
        <td class="sample">
          {% if state.sample and state.sample_link %}
            <button onclick="return showhide(this, '{{ state.shortname|element_id }}-sample-data', '{{ state.shortname|element_id }}-sample-link')">Show <span class="words">sample data</span></button>
          {% else %}
            No sample data {% if state.output %}( <a href="{{ state.output }}">log</a> ){% endif %}
          {% endif %}
        </td>
      </tr>
      <tr id="{{ state.shortname|element_id }}-sample-data" style="display: none">
        <td colspan="6">
          {% if suggest_conform %}
            <p>
              Possible <a href="https://github.com/openaddresses/openaddresses/blob/master/CONTRIBUTING.md#conform-object">conform object</a>
              for <a href="{{ state.cache }}">{{ state.shortname }}</a>:
            </p>
<pre>"conform": {
  "type": {{ state['conform type']|tojson }},
  "number": &lt;number&gt;,
  "street": &lt;street&gt;,
  "lon": {% if state['conform type'] == 'csv' %}&lt;lon&gt;{% else %}"x"{% endif %},
  "lat": {% if state['conform type'] == 'csv' %}&lt;lat&gt;{% else %}"y"{% endif %}
}</pre>
          {% endif %}
          {% if state.sample and state.sample_link %}
            <p>
              Sample data for first rows of <a href="{{ state.cache }}">{{ state.shortname }}</a>:
            </p>
            <p id="{{ state.shortname|element_id }}-sample-link">
                <a href="{{ state.sample_link }}">{{ state.shortname }} sample</a>
            </p>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
</table>
