<html>

<head>
<meta charset=utf-8 />
<title>OpenAddresses</title>
{% include "head.html" %}
</head>

<body>
{% include "nav.html" %}
<p>
    This is a summary view of <a href="http://openaddresses.io">OpenAddresses data</a>.
    {% if last_modified %}
        {{ counts.addresses|nice_integer }} addresses were processed
        <span class="stat">{{ last_modified.strftime('%A, %b %d, %Y') }}</span>.
        Out of <span class="stat">{{ counts.sources|nice_integer }} total sources</span>,
        <a href="#first-processed" class="stat">{{ counts.processed|nice_integer }} were completed</a>.
        <span class="stat">{{ counts.sources - counts.cached }} sources failed cache</span>,
        <span class="stat">{{ counts.cached - counts.processed }} cached but not processed</span>.
        To help complete more sources, look for “missing conform” below and add a
        <a href="https://github.com/openaddresses/openaddresses/blob/master/CONTRIBUTING.md#conform-object">conform object</a>
        based on the included sample data.
    {% else %}
        This set is incomplete.
    {% endif %}
</p>
<p>
    The latest summary can always be found at
    <a href="http://results.openaddresses.io">results.openaddresses.io</a>.<br>
    A plain text version of data on this page can be found at
    <a href="state.txt">state.txt</a>.
</p>
{% if set and (set.render_world or set.render_usa) %}
    {#
      In earlier versions, there was only set.render_usa.
      Later, set.render_world and set.render_europe were added.
    #}
    <p>
        {% if set.render_world %}
            <button onclick="choosemap('{{ set.render_world }}')">Show World</button>
        {% endif %}
        {% if set.render_usa and set.render_world %}
            <button onclick="choosemap('{{ set.render_usa }}')">Show United States</button>
        {% endif %}
        {% if set.render_europe %}
            <button onclick="choosemap('{{ set.render_europe }}')">Show Europe</button>
        {% endif %}
    </p>
    {% if set.render_world %}
        <p><img src="{{ set.render_world }}" width="100%" id="render-img"></p>
    {% elif set.render_usa %}
        <p><img src="{{ set.render_usa }}" width="100%" id="render-img"></p>
    {% endif %}
{% endif %}

{% include "runs-table.html" %}

</body>
</html>
