{% extends "base.html" %}
{% block title %}Source {{ run.source_path }}{% endblock %}
{% block main %}

<style lang="text/css">

    #source { border-collapse: collapse }

    #source tr th
    {
        font-size: 65%;
    }

    #source tr th, #source tr td
    {
        text-align: left;
        padding: 3px 10px;
        border: none;
    }

    /*
    #source tr td>a
    {
        display: block;
        margin: -3px -10px;
        padding: 3px 10px;
        text-decoration: underline;
    }
    */

    #source tr td small>a,
    #source tr td.sample>a
    {
        display: inline;
        margin: 0;
        padding: 0;
    }

    #source tr td.name>a
    {
        text-decoration: none;
    }

    #source tr:nth-child(2n+0) td { background-color: #f8f8f8 }
    #source tr:nth-child(2n+1) td { background-color: #ffffff }

    #source tr td table { margin: 1em 0 }
    #source tr td table { margin: 1em 0 }
    #source tr td table tr th { color: #666 }

    #source tr td table tr th,
    #source tr td table tr td
    {
        font-family: monospace;
        background-color: transparent !important;
        line-height: 1.5em;
        padding: 1px 10px;
    }

   /*
    * Progressively show additional sample data columns.
    */

    #source tr th,
    #source tr td
    {
        display: none
    }

    /*
    Column classes:
    1. status, 2. addresses, 3. datetimelog, 4. processed, 5. cached, 6. source, 7. version
    */

    #source tr th.status,
    #source tr th.addresses,
    #source tr th.datetimelog,
    #source tr td.status,
    #source tr td.addresses,
    #source tr td.datetimelog
    {
        display: table-cell
    }

    #source tr th.datetimelog,
    #source tr td.datetimelog
    {
        white-space: nowrap
    }

    @media (min-width: 400px)
    {
        #source tr th.processed,
        #source tr td.processed
        {
            display: table-cell
        }
    }

    @media (min-width: 640px)
    {
        #source tr th.cached,
        #source tr td.cached
        {
            display: table-cell
        }
    }

    @media (min-width: 960px)
    {
        #source tr th.source,
        #source tr th.version,
        #source tr td.source,
        #source tr td.version
        {
            display: table-cell
        }
    }

</style>

<h1><a href="https://github.com/openaddresses/openaddresses/blob/{{ run.commit_sha }}/{{ run.source_path }}">{{ run.source_path }}</a></h1>

{% if run.state.processed %}
<p>
    <a href="{{ run.state.processed|nice_domain }}">
    {{ run.state.address_count|nice_integer }} addresses
    downloaded {{ run.datetime_tz.strftime('%b %d %Y') }}
    </a>
</p>
{% endif %}

{% if source_data.website %}
<p>
    <a href="{{ source_data.website }}">{{ source_data.website }}</a>
</p>
{% endif %}

<table id="source">
<tr>
    <th class="status"></th>
    <th class="addresses">Addresses</th>
    <th class="datetimelog">Date</th>
    <th class="processed">Output</th>
    <th class="cached">Cache</th>
    <th class="source">Source</th>
    <th class="version">Code</th>
</tr>
{% for run in runs %}

    <tr>
        <td class="status">
        {% if run.status is sameas False %}
            <span style="color: #f00">&#x274C;</span>
        {% else %}
            <span style="color: #0c3">&#x2714;</span>
        {% endif %}
        </td>
        <td class="addresses">
          {% if run.state.address_count %}
            {{ run.state.address_count|nice_integer }}
          {% elif run.state.source_problem %}
            <small>{{ run.state.source_problem }}
            ( <a href="{{ run.state.output|nice_domain }}">log</a> )</small>
          {% else %}
            <small>Unknown problem
            ( <a href="{{ run.state.output|nice_domain }}">log</a> )</small>
          {% endif %}
        </td>
        <td class="datetimelog">
        <a href="{{ run.state.output|nice_domain }}">{{ run.datetime_tz.strftime('%Y-%m-%d') }}</a>
        </td>
        <td class="processed">
        {% if run.state.process_hash %}
            <a href="{{ run.state.processed|nice_domain }}"><tt>{{ run.state.process_hash[:7] }}</tt></a>
            <small>({{ run.state.process_time.split('.')[0] }})</small>
        {% elif run.state.processed %}
            <a href="{{ run.state.processed|nice_domain }}">zip</a>
            <small>({{ run.state.process_time.split('.')[0] }})</small>
        {% endif %}
        </td>
        <td class="cached">
        {% if run.state.fingerprint %}
            <a href="{{ run.state.cache|nice_domain }}"><tt>{{ run.state.fingerprint[:7] }}</tt></a>
            <small>({{ run.state.cache_time.split('.')[0] }})</small>
        {% elif run.state.cache %}
            <a href="{{ run.state.cache|nice_domain }}">cache</a>
            <small>({{ run.state.cache_time.split('.')[0] }})</small>
        {% endif %}
        </td>
        <td class="source">
        {% if run.source_id %}
            <a href="https://github.com/openaddresses/openaddresses/blob/{{ run.commit_sha }}/{{ run.source_path }}"><tt>{{ run.source_id[:7] }}</tt></a>
        {% else %}
            <a href="https://github.com/openaddresses/openaddresses/blob/{{ run.commit_sha }}/{{ run.source_path }}"><small>Github</small></a>
        {% endif %}
        </td>
        <td class="version">
        {% if run.code_version %}
            <a href="https://github.com/openaddresses/machine/releases/tag/{{ run.code_version }}"><tt>{{ run.code_version }}</tt></a>
        {% endif %}
        </td>
    </tr>

{% endfor %}
</table>
{% endblock main %}
